body {
  background: #D9D9D9;
  padding: 3rem;
  line-height: 1.5;
}

h1 {
  font-size: 36px;
}

.App {
  display: flex;
  flex-direction: column;
}

.logo {
    align-self: flex-end;
    margin-right: 18%;
    margin-top: 30px;
}

.App__title {
  text-align: center;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
  justify-content: center;
}

.box {
  background: white;
  padding: 3rem;
  text-align: center;
  box-shadow: 0 4px 6px 0 rgba(58, 58, 58, 0.1);
  border-radius: 3px;
}

.box ul {
  list-style: none;
  padding-left: 0;
}